.Nav-Bar{
    background: #CB4AE0;
    height: 125px;
}

/**-para abajo nose donde este-**/
.title{
    text-align:center
}
/**.Back{
    position: relative;
    transition-duration: 0.4s;
    background-color: #CB4AE0;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50px;
    top: 25px;
    left: 25px;
} **/