




.card-background{
    background: #ffffff;
}

.card-text-color{
    color:#CB4AE0;
}

.boton-color-card{
    color: #CB4AE0;
}






.Nav-COLOR{
    background: #CB4AE0;
}